name: Run Azure Login with OIDC
on: 
  push:
    branches:
      - rkdemo

permissions:
  id-token: write
  contents: read
jobs:
  build-and-deploy:
    environment: rkdemo
    runs-on: ubuntu-latest
    steps:
      - name: 'Az CLI login'
        uses: azure/login@v2.1.0
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: 'Run az commands'
        run: |
          az account show
          az group list
      - name: 'Terraform: Init'
        working-directory: infra/terraform
        run: terraform init
      - name: 'Terraform: Plan'
        working-directory: infra/terraform
        run: terraform plan -out tfplan
      - name: 'Terraform: Apply'
        working-directory: infra/terraform
        run: terraform apply tfplan